@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Efeito de digitação */
  .typing-effect {
    border-right: 2px solid white;
    white-space: pre-wrap;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  /* Fundo quadriculado sutil */
  .bg-grid-pattern {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
